* {
  margin: 0
}

body{
  background-color: white;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  color: white;
  width:100%;
  height: 100px
}

.header-map{
  height: 60%
}
.header-title {
  margin-left: 20px
}

.card{
  display: flex;
  margin: 20px 0px;
  padding: 30px;

}

.card-words{
  margin: 30px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}

.card-img{
  width: 175px;
  height:250px;
  border-radius: 10px;
  object-fit: cover;
}

.card-location{
  display:flex;
  justify-content: center;
}

.card-loc-img{
  width:20px;
  height: 20px;
}

.card-desc{
  max-width: 500px;
  word-wrap: normal;
  text-align: left;
  line-height: 1.5;
}

.card-loc {
  margin-right: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;  
  font-weight: 400;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 25px;
}

.card-date{
  margin-bottom: 15px;
}

.card-url{
  color:#918E98;
}